<!DOCTYPE html>
<html lang="es-AR">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->

    <head>
        <title>Turno paciente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="../assets/img/logoD-removebg (1).png" rel="icon">
        <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- animaciones CSS  -->
        <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- los CSS  -->
        <link href="../assets/css/style.css" rel="stylesheet">
    </head>
    <body>

        <!-- ======= Top Bar ======= -->
        <div id="topbar" class="d-flex align-items-center fixed-top">
            <div class="container d-flex align-items-center justify-content-center justify-content-md-between">

                <div class="d-flex align-items-center">
                    <i class="bi bi-phone"></i> Telefono +54 9 261 000 0000
                </div>
            </div>
        </div>

        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center">


                <h1 class="logo me-auto"><a href="index.html">SGT</a></h1> 

                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li><a class="nav-link scrollto " href="/paciente/inicio">Inicio</a></li>
                        <li><a class="nav-link scrollto active" href="/paciente/form-turno">Turno Nuevo</a></li>
                        <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>

                        <li class="dropdown"><a href="#"><span>Perfil</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">Editar perfil</a></li>
                                <li><a href="#">Cambiar Contraseña</a></li>

                            </ul>
                            <i class="bi bi-list mobile-nav-toggle"></i>
                    </ul>
                </nav>  

                <a href="" class="appointment-btn scrollto">Cerrar <span class="d-none d-md-inline"> sesion</span> </a>

            </div>
            
        </header> 
        
        
        
        <main id="main">
<!--            aca tuve que hacer unos saltos de linea pero despues lo acomodo con css-->
            <br>
            <br>
            <br>
            <br>
            


        <section id="appointment" class="appointment section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Solicitar turno</h2>
                    <p>Verifique sus datos de usuario y contacto en caso de ser necesario modifíquelo en la sección de perfiles. </p>
                </div>

                <form action="" method="post" role="form" class="turno-form" data-aos="fade-up" data-aos-delay="100">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <input type="text"  name="nombreCompleto" class="form-control" id="name" placeholder="NombreCompleto" readonly value="Query del nombre completo" required>
                        </div>
                        <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" readonly value="Query del email" required>
                        </div>
                        <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="tel" class="form-control" name="telefono" id="phone" placeholder="Telefono" readonly value="Query del telefono completo" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group mt-3">
                            <input type="num" name="dni" class="form-control datepicker" id="date" placeholder="DNI" readonly value="Query del DNI" required>
                        </div>
                        <div class="col-md-4 form-group mt-3">
                            <select name="personal" id="doctor" class="form-select">
                                <option value="">Seleccione Doctor</option>
                                <option value="Doctor 1">Dr. Ali</option>
                                <option value="Doctor 2">Dr. House</option>
                                <option value="Doctor 3">Dr. Strange</option>
                                <option value="Doctor 3">Dr. Hibbert</option>
                                <option value="Doctor 3">Dr. Nick</option>
                            </select>
                        </div>
                        
                        
                        <div class="col-md-4 form-group mt-3">
                            <select name="hora" id="doctor" class="form-select">
                                <option value="">Horario</option>
                                <option value="Doctor 1">Query hora1</option>
                                <option value="Doctor 2">Query hora2</option>
                                <option value="Doctor 3">Query hora3</option>
                                <option value="Doctor 3">Query hora4</option>
                                <option value="Doctor 3">Query hora5</option>
                            </select>
                        </div>
                        
                        <div class="col-md-4 form-group mt-3">
                             <input type="date" name="dia" class="form-control datepicker" id="date" placeholder="Fecha"  value="2022-04-28" min="2022-03-01" max="2022-12-31"required>
                        </div>
                    </div>

                    
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Solicitar</button></div>
                </form>

            </div>
        </section><!-- End Appointment Section -->





        
        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-info">
                                <h3>SGT</h3>
                                <p>
                                    A108 Adam Street <br>
                                    NY 535022, USA<br><br>
                                    <strong>Phone:</strong> +54 9261 000 0000<br>
                                    <strong>Email:</strong> info@example.com<br>
                                </p>
                                <div class="social-links mt-3">
                                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>SGT</span></strong>. All Rights Reserved
                </div>
                <div class="credits">

                    Designed by <a href="https://github.com/No-Country/c3-g14-m">Grupo 14 NoCountry</a>
                </div>
            </div>
        </footer><!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="../assets/vendor/purecounter/purecounter.js"></script>
        <script src="../assets/vendor/aos/aos.js"></script>
        <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="../assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="../assets/js/main.js"></script>




    </body>
</html>
